.devil__poster {
    margin-left: 200px;
    border-radius:8px
}
.vegetable__poster {
    margin-left: 200px;
    width: 32% !important;
    height: 50% !important;
    border-radius:8px
}

.skull__poster {
    width: 300px;
    height: 400px;
    margin-top: 25px;
    margin-left: 500px;
    border-radius:8px
}